<%- include('../partials/headstart') %>
<link rel="stylesheet" href="/assets/css/contact.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<%- include('../partials/headend') %>

<header>
    <%- include('../partials/header') %>

<section class="contact">
    <%- include('../partials/headline') %>contact us
    <%- include('../partials/headlineend') %>

    <form action="" method="post">
        
    </form>
</section>

    <%- include('../partials/footer') %>

    <%- include('../partials/afterfooter') %>